// Define variables for your color scheme

// For example:
$raspberry: #B91646;
$red: #B8405E;
$coral: #FF6464;
$orange: #F47340;
$yellow: #FFC900;
$butter: #F9D371;
$lime: #95CD41;
$green: #50CB93;
$jade: #4FBDBA;
$teal: #009DAE;
$blue: #516BEB;
$royal: #0F00FF;
$indigo: #09009B;
$rich: #3E065F;
$violet: #8843F2;
$purple: #9145B6;
$plum: #9A0680;
$pink: #FA4EAB;

$gray: #0E0000;
$light-gray: #F4F4F4;


