// Define variables for your color scheme

// For example:
$raspberry: #B91646;
$red: #B8405E;
$coral: #FF6464;
$bntorange: #F47340;
$orange: #FF5B00;
$yellow: #FFC900;
$butter: #F9D371;
$lime: #95CD41;
$green: #50CB93;
$jade: #4FBDBA;
$teal: #009DAE;
$teal2: #00ADB5;
$blue: #516BEB;
$cornflower: #3E64FF;
$royal: #0F00FF;
$indigo: #09009B;
$cadbury: #742DD2;
$rich: #3E065F;
$violet: #8843F2;
$purple: #9145B6;
$plum: #9A0680;
$pink: #FA4EAB;

$gray: #0E0000;
$light-gray: #F4F4F4;


