// Define variables for your color scheme

// For example:
$raspberry: #B91646;
$heart: #d40842;
$red: #B8405E;
$coral: #FF6464;
$bntorange: #F47340;
$orange: #FF5B00;
$yellow: #FFC900;
$butter: #F9D371;
$lime: #95CD41;
$green: #50CB93;
$jade: #4FBDBA;
$teal: #009DAE;
$teal2: #00ADB5;
$teal3: #068DA9;
$dkgreen: #245953;
$blue: #516BEB;
$cornflower: #3E64FF;
$royal: #0F00FF;
$naval: #1746A2;
$indigo: #09009B;
$cadbury: #742DD2;
$rich: #3E065F;
$violet: #8843F2;
$purple: #9145B6;
$plum: #9A0680;
$pink: #FA4EAB;
$blush: #cc35a5;
$pasty: #facae2;

$gray: #0E0000;
$overcast: #CFD2CF;
$light-gray: #F4F4F4;
$pupil: rgb(247, 250, 249 / 0.5);
$shadow: rgb(41, 40, 41 / 0.5);


