<div class= "navbar-queens">
  <ul>
    <li>
      <h1>Beastly Drag Queens</h1>
    </li>
    <li>
      <h3>find your inner diva beast</h3>
    </li>
    <li>
      <div><%= link_to 'Back to start', root_path, class: "btn btn-primary ml-3" %></div>
    </li>
  </ul>

</div>

