<div class=blanket-box>
  <div class= "navbar-queens">
    <ul>
      <li>
        <h1 id="nav-logo">Beastly Drag Queens</h1>
      </li>
      <li>
        <h3 id= "nav-text">find your inner diva beast</h3>
      </li>
      <li>
        <%= link_to 'Who am I?', root_path, class: "nav-btn" %>
      </li>
    </ul>

  </div>
</div>


