<<!-- div class=blanket-box>
  <div class= "navbar-queens">
    <ul>
      <li>
        <h1 id="nav-logo">Beastly Drag Queens</h1>
      </li>
      <li>
        <h3 id= "nav-text">find your inner diva beast</h3>
      </li>
      <li>
        </%= link_to 'Who am I?', root_path, class: "nav-btn" %>
      </li>
    </ul>

  </div>
</div>

 -->

 <div class="nav-queen">
   <h1 >Beastly Drag Queens</h1>
   <h3>find your inner diva beast</h3>

   <%= link_to 'Who am I?', root_path, class: "nav-btn" %>
   <i class="fa-solid fa-spaghetti-monster-flying fa-flip-vertical"></i>
   <i class="fa-solid fa-spider"></i><i class="fa-solid fa-spider"></i>
   <i class="fa-solid fa-bugs"></i>
   <i class="fa-solid fa-leaf"></i><i class="fa-solid fa-leaf fa-flip-horizontal"></i>
   <i class="fa-solid fa-explosion"></i><i class="fa-solid fa-explosion fa-flip-horizontal"></i>
   <i class="fa-solid fa-leaf fa-flip-vertical"></i><i class="fa-solid fa-leaf fa-flip-both"></i>
  <i class="fa-solid fa-explosion fa-flip-horizontal"></i><i class="fa-solid fa-explosion"></i>
 </div>
