
<div >
  <div class="card-spinner">
    <div class="anti-spin">
      <h1>Welcome to the Beastly Drag Queen Generator!</h1>
      <%= link_to "HOW BEASTLY AM I? #{}", question_path(Question.first), class:"btn-eye" %>
    </div>
  </div>
</div>
