
<div class="background-home">
  <div class="card-spinner">
    <div class="anti-spin">
      <h1>Welcome to the Beastly Drag Queen Generator!</h1>
      <%= link_to "how beastly am I? #{}", question_path(Question.first), class:"btn-eye" %>
    </div>
  </div>
</div>
