
<!-- <div class="background-box"> -->

  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <div class="card-quiz">
        <h1>Welcome to the Beastly Drag Queen Generator!</h1>
          <%= link_to "How beastly am I? #{}", question_path(21), class:"btn-quiz-box" %>
        </div>
    </div>
  </div>

<!-- </div> -->

