
<div class="background-one">
  <div class="card-quiz">
    <h1>Welcome to the Beastly Drag Queen Generator!</h1>
    <%= link_to "How beastly am I? #{}", question_path(Question.first), class:"btn-quiz-box" %>
  </div>
</div>
