
<div >
  <div class="card-spinner">
    <h1>Welcome to the Beastly</h1>

      <%= link_to "How beastly am I? #{}", question_path(Question.first), class:"btn-eye" %>

    <h1>Drag Queen Generator!</h1>
  </div>

</div>
