

<div class="card-quiz">
  <h1>Welcome to the Beastly Drag Queen Generator!</h1>
  <button class="btn-quiz-box"><%= link_to "How beastly am I? #{}", question_path(21), class: "button" %></button>


</div>
