.btn-quiz-box {
  color: white;
  font-family: nunito;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 12px;
  background-color: $cornflower;
  font-weight: bold;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
