.card-beast {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  // border: solid 2px #9b72aa;
  position: relative;
  // height: 500px;
  background-color: $yellow;
  width: 300px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  margin: 24px;

  h3 {
    color: white;
  }

  h2 {
    font-family: raleway;
  }

  p {
    font-family: helvetica;
  }

  a {
    color: $rich;
    font-family: 'Laila', sans-serif;
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }
}

.card-beast > img {
  object-fit: scale-down;
  height: 250px;
}

.card-beast-infos {
  padding: 8px 0;
  background-color: $yellow;
  // height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-quiz, .card-question {
  height: 60vh;
  width: 50vw;
  color: white;
  //display: flex;
  //justify-content: space-around;
  text-align: center;
  align-items: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;
  margin: 200px auto 0;
  // padding: 24px;
}

.card-quiz {
  background-color: $yellow;
}

.card-question {
  background-color: $orange;
  //flex-wrap: wrap;
  font-size: 2em;
}

.card-quiz h1, .card-spinner h1 {
  font-family: Nunito;
  font-size: 3.8em;
  // padding: 50px 20px 12px;
  color: $light-gray;
  margin: auto;
}

.card-spinner {
  height:550px;
  width: 550px;
  background-color: $shadow;
  margin: 48px auto;
  border-radius: 50%;
  border: double solid black  2px;
  align-items: center;
  text-align: center;
  display: block;
  justify-content: center;
  padding: 12px
}
