.navbar-lewagon {
  justify-content: space-between;
  background-color: #4FBDBA;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.navbar-queens {
  height: 100px;
  position: fixed;
  top: 20px;
  background-color: #4FBDBA;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  width: 100%;
}

.navbar-queens ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-flex;

}

.navbar-queens li {
  display: inline-block;
  // padding-top: 20px;
}

#nav-logo {
  font-family: laila;
  color: $rich;
  margin-left: 15px;
  font-size: 2.75rem;

}

#nav-text {
  font-family: nunito;
  color: white;
  font-size: 2rem;
  font-style: italic;
  position: absolute;
  right: 272px;
  top: 24px;
}

.nav-btn{
  color: white;
  font-family: nunito;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 12px;
  background-color: $indigo;
  position: absolute;
  right: 40px;
  top: 24px;
  font-weight: bold;
}
