
.navbar-queens {
  height: 14vh;
  position: fixed;
  top: 25px;
  background-color: $teal;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  width: 100%;
  border: solid $dkgreen 1px;
  box-shadow: 15px 0 rgba(0,0,0,0.2);
}

.navbar-queens ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-flex;

}

.navbar-queens li {
  display: inline-block;
  // padding-top: 20px;
}

.nav-queen {
  height: 14vh;
  background: transparent;
  display: block;

}

.nav-queen h3 {
  font-family: nunito;
  color: white;
  font-size: 2em;
  font-style: italic;
  margin-left: 32px;
}

.nav-queen h1 {
  font-family: laila;
  color: $rich;
  margin-left: 15px;
  font-size: 4em;
  padding-bottom: 0;

}

#nav-logo {
  font-family: laila;
  color: $rich;
  margin-left: 16px;
  font-size: 2.75rem;
  padding-bottom: 0;

}



#nav-text {
  font-family: nunito;
  color: white;
  font-size: 2rem;
  font-style: italic;
  position: absolute;
  right: 272px;
  top: 24px;
  padding-bottom: 0;
}

.nav-btn{
  color: white;
  font-family: nunito;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 12px;
  background-color: $cadbury;
  position: absolute;
  right: 40px;
  top: 24px;
  font-weight: bold;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.navbar-fade {

}
